<% view ||= Bucket::View.new %>

<%= bubble_filter_form_tag bucket_views_path(bucket), method: :post, id: dom_id(view, :new_form) %>

<% if view.persisted? %>
  <%= bubble_filter_form_tag bucket_view_path(bucket, view), method: :put, id: dom_id(view, :edit_form) %>
  <%= bubble_filter_form_tag bucket_view_path(bucket, view), method: :delete, id: dom_id(view, :delete_form) %>
<% end %>

<%= button_tag type: :submit, form: dom_id(view, :new_form), class: "btn", style: "font-size: 0.4em;" do %>
  <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
  <span class="txt-small">New</span>
<% end %>

<% if view.persisted? %>
  <%= button_tag type: :submit, form: dom_id(view, :edit_form), class: "btn", style: "font-size: 0.4em;" do %>
    <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
    <span class="txt-small">Update</span>
  <% end %>

  <%= button_tag type: :submit, form: dom_id(view, :delete_form), class: "btn", style: "font-size: 0.4em;", data: { turbo_confirm: "Are you sure you want to delete this filter?" } do %>
    <%= image_tag "minus.svg", aria: { hidden: true }, size: 24 %>
    <span class="txt-small">Delete</span>
  <% end %>
<% end %>
