<%= turbo_frame_tag @stage do %>
  <%= form_with model: @stage, url: workflow_stage_path(@stage.workflow, @stage) do |form| %>
    <div class="flex pad gap justify-space-between">
      <%= form.text_field :name, required: true, autofocus: true %>

      <div class="flex gap">
        <%= form.button type: :submit, class: "btn btn--small" do %>
          <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
        <% end %>

        <%= link_to workflow_path(@workflow), class: "btn btn--small", data: { turbo_frame: dom_id(@workflow) } do %>
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
